<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="h-screen bg-zinc-950 overflow-auto text-zinc-50" >
<nav class="bg-gradient-to-b from-zinc-700 to-zinc-900 flex justify-between py-2 px-10">
    <a href="/"><h1 class="text-3xl font-semibold">Home</h1></a>
    <h1 class="text-5xl font-semibold">Hi Hustler</h1>
    <a href="/signup"><h1 class="text-3xl font-semibold">Sign-Up</h1></a>
</nav>

<div class="flex justify-center">
    <h1 class="text-6xl pt-10">&#128293;</h1>
    <h1 class="text-6xl pt-10 px-7 py-1">Streak Banao</h1>
    <h1 class="text-6xl pt-10">&#128293;</h1>
</div>

<div class="flex justify-center mt-10">
    <form class="w-full max-w-lg bg-zinc-500 p-8 rounded-lg shadow-lg" action="/check" method="post">
        <div class="mb-4">
            <label class="block text-gray-900 text-sm font-bold mb-2" for="email">Email</label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="email" name="email" placeholder="Enter your email">
        </div>
        <div class="mb-4">
            <label class="block text-gray-900 text-sm font-bold mb-2" for="password">Password</label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="password" name="password"type="password" placeholder="Enter your password">
        </div>
        <div class="flex items-center justify-between">
            <button class="bg-zinc-200 hover:bg-zinc-300 text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                Submit
            </button>
        </div>
    </form>
</div>
</body>
</html>